*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    background-color: antiquewhite;
    padding: 20px;
    margin-bottom: 2em;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.menu-list{
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}
.menu-list li a{
    color: black;
    font-weight: 600;
}
.btn{
    background-color: #F26522;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.btn a{
    color: white;
    font-size: 1.3em;
}
.icon{
    display: none;
    font-size: 2.5em;
    cursor: pointer;
}
/* media query */
@media(max-width: 769px){
    .menu-list{
        display: none;
    }
    .btn{
        display: none;
    }
    .icon{
        display: block;
    }
    #mark{
        display: none;
    }
    nav{
    width: 100%;
    margin: auto;
}
}