*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    color: rgb(23, 23, 167);
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    padding: 10px;
}
.list{
    padding: 10px;
}
.btn{
    background-color:  rgb(23, 23, 167);
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 5px;
}
.delt{
    background-color:  rgb(23, 23, 167);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    margin-top: 2em;
    
}

